@import '../sass/reusable';

.mode-rules {
  @include ranking-rules-content;


  .mode-rules_title {
    font-size: 2.5rem;
    font-weight: 600; // ? not working
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mode-rules_icon {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .mode-rules_content {
    margin-top: 2rem;
    font-size: 2.3rem;
    text-align: justify;
    line-height: 4rem;
  }
}