//@use '../sass/' as *;

//@import '../components/navigation/navigation';
//@import '../components/gamePanel/GameAnswers/game-answers';
//@import '../components/gamePanel/ModeRules/modeRules';
@import './reset';
@import './reusable';
//@import '../commponents/timerPanel/timer-panel';
//@import '../components/gamePanel/Ranking/ranking';

html {
  font-size: 62.5%;
}

body {
  background-image: url('../assets/others/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .app {
//   border: 5 solid red;
// }