@import '../../sass/reusable';

.navigation-panel__menu-container {
    width: 75%;
    min-width: fit-content;
    height: fit-content;

    background: #ffffff;
    @include border;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 2rem 3rem auto;
    padding: 2rem;
}

.navigation-panel__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    color: rgba(0, 0, 0, 0.4);
    background-color: white;
    border: none;
    padding: auto 1rem;
}

.navigation-panel__item--active {
    border-bottom: 6px solid red;
    color: black;
}