@import '../../sass/reusable';

.game-panel__ranking {
    @include ranking-rules-content;

    .game-panel__ranking-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-panel__ranking-title-icon {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
    }

    .game-panel__ranking-title-text {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .game-panel__ranking-content {}
}