@import '../../sass/reusable';

.game-panel__actions {
    display: flex;
    justify-content: space-between;
    grid-area: btn;

    .game-panel__btn {
        display: inline;
        width: 80%;
        font-size: 2.5rem;
        font-weight: 600;
        height: 100%;
        font-family: inherit;
        padding: 1rem;
        cursor: pointer;
        border-radius: 1.6rem;

        &:hover {
            @include border;
            transform: translate(0, -0.1rem);
            transition: all 0.1s ease-in-out;
        }

    }

    .game-panel__play {
        background: rgba(255, 0, 0, 0.8);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        margin-left: 3rem;


    }

}