@import '../../sass/reusable';

.game-panel__rules {
    @include ranking-rules-content;

    .game-panel__rules-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-panel__rules-title-icon {
        margin-right: 1rem;
        width: 4rem;
        height: 4rem;
    }

    .game-panel__rules-title-text {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .game-panel__rules-content {
        margin: 1.2rem 2rem;
        font-size: 2rem;
        text-align: justify;
        line-height: 4rem;
    }
}