@import '../../sass/reusable';

.game-panel__rules {
    @include ranking-rules-content;

    .game-panel__rules-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-panel__rules-title-icon {
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
    }

    .game-panel__rules-title-text {
        font-size: 4.5rem;
        font-weight: 600;
    }

    .game-panel__rules-content {
        margin: 3rem 5rem;
        font-size: 3.3rem;
        text-align: justify;
        line-height: 5.5rem;
    }
}